* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html { font-size: 62.5% }

body {
  box-sizing: border-box;
  background-color: black;
}

/*.dot {*/
/*  width: 7px;*/
/*  height: 7px;*/
/*  background-color: greenyellow;*/
/*  border-radius: 50%;*/
/*  position: absolute;*/
/*  pointer-events: none;*/
/*}*/
